[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Android Studio
GenericName=Android IDE
Comment=best.
Exec=/home/{{username}}/programs/android-studio/bin/studio.sh
Icon=/home/{{username}}/programs/android-studio/bin/studio.png
Terminal=false
Type=Application
Categories=Development;IDE
