[Desktop Entry]
Name=PushBullet-Indicator
GenericName=PushBullet-Indicator
Comment=An indicator for working with pushbullet
Exec=/opt/extras.ubuntu.com/pushbullet-indicator/bin/pushbullet-indicator
Icon=/opt/extras.ubuntu.com/pushbullet-indicator/share/pushbullet-indicator/icons/pushbullet-indicator.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
X-Ubuntu-Gettext-Domain=pushbullet-indicator
Name[es]=Indicador de PushBullet
GenericName[es]=Indicador de PushBullet
Comment[es]=Un indicador para PushBullet
X-GNOME-Autostart-enabled=true
